.footer {
  display: flex;
  justify-content: center;
  color: #d8d8d8;
  padding: 20px ;
  background-color: #0d084d;

  img {
    width: 24px;
    height: 24px;
  }

  .container { 
    width: 1400px;
    background-color: rgba(
          255,
          255,
          255,
          0.1
        ); // Semi-transparent background
        backdrop-filter: blur(10px); // Blur effect
        border-radius: 20px; // Rounded corners
        padding: 20px; // Padding for content
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); // Shadow for depth

    .top {
      display: flex;
      justify-content: space-between;
      // background-color: rgba(255, 255, 255, 0.1); // Semi-transparent background
      // border-radius: 5px;
      // padding: 10px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        h2 {
          font-size: 16px;
          color: #555;
        }
        span {
          font-weight: 300;
        }
      }
    }

    hr {
      margin: 50px 0px;
      height: 0;
      border: 1px solid #ebe9e9;
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      // background-color: rgba(255, 255, 255, 0.1); // Semi-transparent background
      // border-radius: 5px;
      // padding: 10px;

      .left {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 20px;

        span {
          font-size: 13px;
          white-space: nowrap;
        }
      }
      .right {
        width: max-content;
        display: flex;
        align-items: center;
        gap: 30px;

        .social {
          display: flex;
          gap: 20px;
        }

        .link {
          display: flex;
          align-items: center;
          gap: 10px;
        }
      }
    }
  }
}
