.home {
  .features {
    background-color: #0d084d;
    display: flex;
    justify-content: center;
    padding: 100px 0px;
    color: white;

    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      gap: 200px;

      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: rgba(
          255,
          255,
          255,
          0.1
        ); // Semi-transparent background
        backdrop-filter: blur(10px); // Blur effect
        border-radius: 20px; // Rounded corners
        padding: 20px; // Padding for content
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); // Shadow for depth

        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
        }

        img {
          width: 100%;
        }
        h1 {
          font-weight: 500;
          margin-bottom: 10px;
        }
        .title {
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          font-size: 18px;
          color: #d2d1d1;
          img {
            width: 24px;
            height: 24px;
          }
        }
        button {
          padding: 10px;
          border: none;
          background-color: #1dbf73;
          color: white;
          cursor: pointer;
          border-radius: 5px;
          margin-top: 4px;
        }
        p {
          font-size: 18px;
          font-weight: 300;
          color: rgb(179, 177, 177);
          line-height: 28px;
          letter-spacing: 1px;
        }

        video {
          width: 720px;
        }
      }
    }
  }

  .explore {
    display: flex;
    justify-content: center;
    padding: 100px 0px;

    .container {
      width: 1400px;

      h1 {
        position: relative;
        bottom: 40px;
        color: #555;
      }

      .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .item {
          background-color: rgba(200, 215, 113, 0.1);
          width: 250px;
          height: 150px;
          display: flex;
          flex-direction: column;
          gap: 10px;
          align-items: center;
          justify-content: center;
          text-align: center;
          cursor: pointer;
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          backdrop-filter: blur(2px);
          -webkit-backdrop-filter: blur(4px);
          margin: 5px;

          img {
            width: 50px;
            height: 50px;
          }

          .line {
            width: 50px;
            height: 2px;
            background-color: lightgray;
            transition: all 0.3s ease;
          }

          span {
            font-weight: 300;
          }

          &:hover {
            .line {
              width: 80px;
              background-color: #1dbf73;
            }
          }
        }
      }
    }
  }
}
